<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.BoardMapper">

	<select id="selectList" resultType="com.yedam.vo.BoardVO">
		SELECT board_no
		,title
		,content
		,writer
		,view_cnt
		,writer_date
		FROM tbl_board
		ORDER BY board_no
	</select>

	<select id="selectBoard" parameterType="int">
		SELECT board_no
		,title
		,content
		,writer
		,view_cnt
		,writer_date
		FROM tbl_board
		WHERE board_no = #{boardNo}
		ORDER BY board_no
	</select>

	<insert id="insertBoard" parameterType="com.yedam.vo.BoardVO">
		INSERT INTO tbl_board
		(board_no, title, writer, content)
		VALUES (board_seq.NEXTVAL, #{title},
		#{writer}, #{content})
	</insert>

	<update id="updateBoard" parameterType="com.yedam.vo.BoardVO">
		DELETE
		FROM tbl_board
		WHERE board_no = #{boardNo}
		<set>
			<if test="title != null">
				title = #{title}
			</if>

			<if test="content != null">
				,content = #{content}
			</if>
			WHERE board_no = #{boardNo}
		</set>
	</update>

	<delete id="deleteBoard" parameterType="com.yedam.vo.BoardVO">
		DELETE
		FROM tbl_board
		WHERE board_no = #{boardNo}
	</delete>

</mapper>