<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.StudentMapper">

	<select id="memberList" parameterType="string"
		resultType="com.yedam.vo.MemberVO">
		SELECT *
		FROM tbl_member
		WHERE responsibility = #{res}
		ORDER
		BY ${orderBy}
	</select>

	<select id="selectMember" resultType="com.yedam.vo.MemberVO">
		SELECT *
		FROM tbl_member
		WHERE member_id = #{id}
		AND member_pw = #{pw}
	</select>

	<select id="studentList" resultType="student">
		SELECT * FROM table_student ORDER BY student_number
	</select>

	<select id="selectOne" parameterType="string"
		resultType="student">
		SELECT *
		FROM table_student
		WHERE student_number = #{studentNumber}
	</select>

	<insert id="insertStudent" parameterType="student">
		insert into table_student (student_number, student_name, student_phone,
		birth_date)
		values(#{studentNumber}, #{studentName}, #{studentPhone}, #{birthDate})
	</insert>

	<update id="updateStudent" parameterType="student">
		UPDATE table_student
		SET student_phone = #{studentPhone}
		WHERE student_number = #{studentNumber}
	</update>

	<delete id="deleteStudent" parameterType="string">
		DELETE FROM table_student
		WHERE student_number = #{studentNumber}
	</delete>

	<select id="selectCountByMember" resultType="map">
		SELECT b.writer as "writer",
		       m.member_nm as "member_name",
		       count(1) as "member_cnt"
		FROM tbl_board b
		JOIN tbl_member m
		ON b.writer = m.member_id
		GROUP BY b.writer, m.member_nm
	</select>

</mapper>